/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #494949;
  margin: 0;
  padding: 0;
  color: white;
}

/* Container styles */
.container {
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  position: relative;
}

/* Error message styles */
.error-message {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  margin-bottom: 45px;
  margin-top: 10px;
}

.error-message:empty {
  display: none;
}

/* Form container styles */
.form,
.index {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  color: white;
  transition: margin-top 0.3s ease;
}

.container.error-active .form {
  margin-top: -50px;
}

/* Quote styles */
.quote {
  font-style: italic;
  font-size: 20px;
}

.quote span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  color: #757575;
}

.quote a {
  text-decoration: underline;
  color: rgba(30, 158, 243, 0.733);
}

.quote a:hover {
  color: rgb(51, 170, 250);
}

/* Button styles */
.index button,
.form button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  background: #373737;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.index button:hover,
.form button:hover {
  border-color: #373737;
  background-color: #494949;
  color: #373737;
}

.index button:disabled,
.form button:disabled,
button[disabled] {
  background-color: #2e2e2e;
  color: #666;
}

/* Form input styles */
.form input,
.index input {
  background-color: #2f2f30;
  outline: 0;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 22px;
  border: 2px solid #2f2f30;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.form input:focus,
.index input:focus {
  border: 2px solid #3a3d41;
}

/* Label styles */
.form label,
.index label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

/* Link styles */
a {
  color: rgba(30, 158, 243, 0.733);
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(51, 170, 250);
}

/* Heading styles */
h1, h2, h3 {
  color: white;
  margin-bottom: 1.5rem;
}

/* Responsive styles */
@media (max-width: 600px) {
  .form,
  .index {
    margin: 50px auto;
    padding: 15px;
  }

  .form input,
  .index input {
    padding: 8px 15px;
  }

  .quote {
    font-size: 18px;
  }

  .quote span {
    font-size: 12px;
  }
}