---
// Import the family title from getFamilyTitle.ts, then save it to the title const to be used later in the file.
import { getFamilyTitle } from '@components/FamilyTitle';
const title = await getFamilyTitle(Astro.url.origin);
---
<div class="nav">
    <div class="nav-left">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li>{title}</li>
        </ul>
    </div>
</div>