<div class="container">
    <form class="form" id="upload-form">
        <label>
            Upload Gedcom File
            <input type="file" id="upload" accept=".ged">
        </label>
        <div>
            <button type="submit">Submit!</button>
        </div>
        <div class="error-message" id="upload-error-message"></div>
    </form>
</div>

<script>
    const form = document.getElementById('upload-form');
    const messageDiv = document.getElementById('upload-error-message');

    if (form && messageDiv) {
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const fileInput = document.getElementById('upload');
            const file = fileInput?.files?.[0];

            if (!file) {
                messageDiv.textContent = "You must select a file"
                messageDiv.style.color = "red";
                return;
            }

            const formData = new FormData(form);
            formData.append('file', file);

            messageDiv.textContent = "Processing..."
            messageDiv.style.color = "green";

            try {
                const response = await fetch('/api/upload/gedcom', {
                    method: 'POST',
                    body: formData,
                    credentials: 'include'
                });

                const data = await response.json();

                if (response.ok) {
                    messageDiv.textContent = 'Upload Successful'
                } else {
                    messageDiv.textContent = data.detail || 'Upload Failed'
                    messageDiv.style.color = 'red';
                }
            } catch (error) {
                messageDiv.textContent = 'An error occurred'
                console.log(error);
            }
        })
    }
</script>